@import url("https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  color: #082640;
  font-family: Sansation, Helvetica, sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Allan;
}

.logo {
  width: 100px;
  height: 100px;
}

#logo_link {
  text-decoration: none;
  justify-self: center;
  align-self: center;
}

.icon {
  width: 80px;
  height: 80px;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #e5ebea;
}

#hero {
  border-top: 10px solid #415d43;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-bottom: 100px;
}

#hero-box {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

#hero-img {
  width: 100%;
}

.mountains {
  margin: 30px 0;
  width: 100%;
  grid-column: 2 / 7;
  grid-row: 5 / 8;
  box-shadow: 5px 5px 10px #415d43;
}

.card-img {
  border: 5px solid #415d43;
  width: 100%;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #415d43;
}

.card-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.rivers-card {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.camping-card {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
}

.rapids-card {
  grid-column: 8 / 10;
  grid-row: 2 / 3;
}

#hero-msg {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  color: #e5ebea;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
  font-size: 2em;
}

#hero-msg h1 {
  font-size: 3em;
}

.button-box {
  text-align: center;
  margin: 1em 2em;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: #415d43;
  grid-column: 1 / 11;
  grid-row: 4 / 9;
  margin-top: 100px;
}

header {
  background-color: #415d43;
  color: #e5ebea;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 150px auto;
}

nav {
  background-color: #415d43;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-align: center;
  color: #e5ebea;
}

nav a:hover {
  background-color: #082640;
  color: #238bc7;
}

.book,
.join {
  background-color: #082640;
  color: #238bc7;
  font-size: 1.5em;
}

.book:hover,
.join:hover {
  background-color: #238bc7;
  color: #e5ebea;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.msg {
  background-color: #082640;
  color: #e5ebea;
  margin: 20px 0px;
  grid-column: 6 / 10;
  grid-row: 6 / 7;
  box-shadow: 5px 5px 10px #082640;
}

footer {
  background-color: #082640;
  color: #e5ebea;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social a {
  text-decoration: none;
}

footer p {
  text-align: center;
  font-size: 1.2em;
}

footer a {
  color: #e5ebea;
  text-decoration: underline;
}

footer a:hover {
  color: #238bc7;
}

@media screen and (max-width: 900px) {
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }
  nav,
  footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  #hero-msg h1 {
    color: #6f7364;
  }
  .home-title {
    font-size: 25px;
  }
  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 50px auto;
    width: 60%;
  }
  #background {
    display: none;
  }
  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }
}
